* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555555;
}

.content-wrapper {
    display: block;
    margin: auto;
    max-height: 1700px;
    max-width: 1700px;
}

body {
    background-color: white;
}

h1 {
    text-align: center;
}


#pokedex {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

div {
    margin: 20px;
    padding: 20px;
}

.pokemon-card {
    padding: 5px;
    width: 200px;
    height: 275px;
    margin: 30px;
    box-shadow: 3px 3px 5px 6px #ccc;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0.75;;
}

.pokemon-card:hover {
    opacity: 1;
}

.pokemon-image {
    position: relative;
    top: 50px;
}

.poke-id {
    position: relative;
    top: -110px;
    left: 0px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    color: #555555;
    justify-content: left;
}

.pokemon-type {
    width: fit-content;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    left: 75px;
    font-size: small;
}

a {
    text-decoration: none;
    color: #555555;
}

#grass {
    background-color: #9bcc50;
}

#bug {
    background-color: #729f3f;
}

#fire {
    background-color :#fd7d24;
}

#water {
    background-color: #4592c4;
}

#ice {
    background-color: #51c4e7;
}

#electric {
    background-color: #eed535;
}

#psychic {
    background-color:  #f366b9;
}


#fairy {
    background-color: #fdb9e9;
}

#ghost {
    background-color: #7b62a3;
}

#ground {
    background-color: #f7de3f;
}

#poison {
    background-color: #b97fc9;
}

#fairy {
    background-color: #fdb9e9;
}

#normal {
    background-color: #a4acaf;
}

#dragon {
    background-color: goldenrod;
}

#fighting {
    background-color: #d56723;
}

#rock {
    background-color: #a38c21;
}