/* ALL */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555555;
}

/* WRAPS BODY */
.content-wrapper {
    display: block;
    margin: auto;
    max-height: 1700px;
    max-width: 1700px;
}

/* BODY */
body {
    background-color: white;
}

/* PAGE TITLE */
h1 {
    text-align: center;
    font-size: 50px;
}

/* SEARCH BAR*/
#pokemon-search-form {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color:black;
}

#pokedex {
    /* margin: 20px;
    padding: 20px; */
    display: flex;
    flex-flow: row wrap;
}

/* flip card container  */
.flip-card {
    margin: 20px;
    align-content: space-between;
    width: 200px;
    height: 275px;
    text-align: center;
    justify-content: center;
    perspective: 1000px;
    opacity: 0.95;
}

/*  position the front and back side */
.flip-card-inner {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}


.front-pokemon-card, .back-pokemon-card {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front-pokemon-card {
    z-index: 2;
    transform: rotateY(0);
}

.back-pokemon-card {
    transform: rotateY(180deg);
}

.front-pokemon-image, .back-pokemon-image {
    position: relative;
    top: 50px;
}

.front-poke-id, .back-poke-id {
    position: relative;
    top: -100px;
    width: 100%;
    background-color: whitesmoke;
    color: #555555;
    justify-content: left;
}

.front-pokemon-type {
    width: fit-content;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    left: 75px;
    bottom: -20px;
    font-size: small;
}

#grass {
    background-color: #9bcc50;
}

#bug {
    background-color: #729f3f;
}

#fire {
    background-color :#fd7d24;
}

#water {
    background-color: #4592c4;
}

#ice {
    background-color: #51c4e7;
}

#electric {
    background-color: #eed535;
}

#psychic {
    background-color:  #f366b9;
}


#fairy {
    background-color: #fdb9e9;
}

#ghost {
    background-color: #7b62a3;
}

#ground {
    background-color: #f7de3f;
}

#poison {
    background-color: #b97fc9;
}

#fairy {
    background-color: #fdb9e9;
}

#normal {
    background-color: #a4acaf;
}

#dragon {
    background-color: goldenrod;
}

#fighting {
    background-color: #d56723;
}

#rock {
    background-color: #a38c21;
}