* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    display: flex;
}

h1 {
    text-align: center;
}

#pokedex {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

div {
    size: 20px 20px;
    margin: 20px;
    padding: 20px;
}

.pokemon-card {
    padding: 5px;
    width: 200px;
    height: 275px;
    margin: 30px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    text-align: center;
    justify-content: center;
    background-color: rgba(128, 22, 22, 0.886);
    border-radius: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-transform: uppercase;
}

a:visited {
    color: powderblue;
}

#grass {
    background-color: #85C881;
}

#bug {
    background-color: #4b8b48;
}

#fire {
    background-color :#d10d0d;
}

#water {
    background-color: #4979CC;
}

#ice {
    background-color: #BEDAF3;
}

#electric {
    background-color: yellow;
}

#psychic {
    background-color: rebeccapurple;
}

#fairy {
    background-color: pink;
}

#ghost {
    background-color: purple;
}

#ground {
    background-color: #573726d5;
}

#poison {
    background-color: #00000090;
    color: whitesmoke;
}

#fairy {
    background-color: #FECDF4;
}

#normal {
    background-color: #E8E8E8;
}

#dragon {
    background-color: #FFD500;
}

#fighting {
    background-color: #E86C2C;
}

#rock {
    background-color: #AD5E35;
}